<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun in your ZIP</title>
</head>
<body>
    <h1>Solar Stats</h1>
    <form action="/predict" method="POST">
        <ul id="fieldList">
            <li>
            <label>Enter your ZIP:</label>
              <input name="zipcode" type="text">
            </li>
            <li>
            <label>Enter your monthly electric bill (USD):</label>
              <input name="mon_elec_bill" type="text">
            </li>
        </ul>
        <input type="submit">
    </form>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12  jumbotron text-center" style="background-image: url(https://m.foolcdn.com/media/millionacres/original_images/solar_panels.jpg?crop=16:9,smart);background-size: cover;background-repeat: no-repeat;">
              <div class="transbox">
                <h1>Sunny Day</h1>
              </div>
          </div>
        </div>
        <div class='tableauPlaceholder' id='viz1636681391168' style='position: relative'>
            <noscript>
            <a href='#'>
                <img alt='Why Go Solar Energy' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy&#47;1_rss.png' style='border: none' />
            </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object>
        </div>                
    ​
        <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1636681391168');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='1016px';vizElement.style.height='991px';                    
            var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        </div>
</body>
</html>