<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCBerkeley BC: Sunnyday</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- map -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
    <!-- banner -->
    <style>div.transbox {margin: 20px; background-color: #ffffff; opacity: 0.85;}</style> 
    <!-- navbar -->
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #1c415f;
        }
        </style>    
</head>

<body>
    <!-- banner -->
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12  jumbotron text-center" style="background-image: url(https://m.foolcdn.com/media/millionacres/original_images/solar_panels.jpg?crop=16:9,smart);background-size: cover;background-repeat: no-repeat;">
              <div class="transbox">
                <h1>Solar Electric System</h1>
              </div>
          </div>
        </div>

        <!-- navbar -->
        <div class="row">
            <ul>
              <li><a href="N_Home_index.html">Home</a></li>
              <li><a href="N_Visual_index.html">Visualization</a></li>
            </ul>
        </div>

        <br>
        <!-- Tableau -->
        <div class='tableauPlaceholder' id='viz1636681391168' style='position: relative'>
            <noscript>
            <a href='#'>
                <img alt='Why Go Solar Energy' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy&#47;1_rss.png' style='border: none' />
            </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;FinalProject-SolarPanelVisualization&#47;WhyGoSolarEnergy&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object>
        </div>                
    ​
        <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1636681391168');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='1016px';vizElement.style.height='991px';                    
            var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
      </div>
    </div>  


</body>
</html>